/*
  HTML5 ✰ Boilerplate

  style.css contains a reset, font normalization and some base styles.

  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none !important; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  there are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

/*
 * minimal base styles
 */

body, select, input, textarea {
  color: #444;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;;  
}

h1,h2,h3,h4,h5,h6 { font-weight: normal; }

html { overflow-y: scroll; }


/* accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #FF5E99; }

/*
 * Non-semantic helper classes
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyHidden {
    border: 0 !important;
    clip: rect(0 0 0 0);
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

 /* Primary Styles
    Author: Nick Evans
 */

body{
	background: #fff;
}


#container{
margin: 0 auto;
width: 950px;
color: #e2e2e2;
}
#main{
	position: relative;
}
#counter{
	color: #cccccc;
	font-size: 197%;
	margin-top: 0.7em;
	position: absolute;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;	
}
#counter strong{
	color: #333;
}

#console{
	position: absolute;
	top:60px;
	width: 970px;
	background: #fff;
	color: #ccc;
	padding: 10px 0;
	border-bottom: 2px solid #f1f1f1;
	border-top: 2px solid #f1f1f1;
}
#console select,
#console h3{
	float: left;
	margin-right: 10px;
}
#sample{
	width: 470px;
	position: absolute;
	margin-bottom: 2em;
	color: #f1f1f1;	
	top:150px;
	margin-left: 10px;
	font-family: Verdana;
	overflow: hidden;
}
#sample-wrapper{
	top:120px;
	width: 470px;
	height: 500px;
	position: absolute;
	background: rgba(50,50,50,0.6) url(../images/ruler.gif) 0 0px repeat-x;
	padding: 30px 10px 0 10px;       
    -moz-box-shadow:0px 0px 5px rgba(0,0,0,.9) inset;
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,.9) inset;
    box-shadow:0px 0px 5px rgba(0,0,0,.9) inset;
}
#sample b{
	position: relative;
	font-weight: inherit !important;
}
.ui-resizable-e {
	cursor: e-resize;
	height: 100%;
	right: -20px;
	top: -30px;
	width: 500px;
	background: transparent;
}
.ui-resizable-handle {
	display: block;
	font-size: 0.1px;
	position: absolute;
	z-index: 888;
}
.pipe{
	position: absolute;
	color: #FF5E99;
	margin-left: 0.25em;
}
#decoration{
	height: 13px;
	top:150px;
	width: 100%;
	position: absolute;
	background-color: #444444;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	-webkit-background-size: 32px 32px;
	-moz-background-size: 32px 32px;
	background-size: 32px 32px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	padding-bottom: 2.462em;
}
#console{
	position: relative;
}
#length{
	position: absolute;
	text-align: right;
	border-left: 1px solid #fff;
	margin-left: 0px;
	margin-top: -21px;
	color: #fff;
}
#length span{
	display: block;
	padding-right: 10px;
	border-right: 1px solid #fff;
}

.link{
	float: right;
	padding: 10px 12px;
	margin: -7px 0 -12px 0;
	color: #e2e2e2 !important;
	background: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;	
}

.link:hover{
	background: #f1f11f;
	color: #444444 !important;
}